.free {
    position: relative;
    margin: 5rem 0;
    .container {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 25rem;
        border-radius: 1rem;
        overflow: hidden;
        z-index: 1;
        background-color: var(--accent-color2);
        .background {
            z-index: -1;
            .ellipse {
                position: absolute;
                height: 100%;
                width: 28rem;
                border-radius: 100%;
                filter: blur(100px);
            }
            .greyb {
                background-color: var(--greyb);
                top: -10%;
                left: -15%;
            }
            .silver {
                top: 10%;
                right: -15%;
                background-color: var(--silver);
            }
        }
        .content {
            z-index: 1;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding-top: 3rem;
            padding-left: 5rem;
            font-size: 1.3rem;
            .title {
                font-size: 2rem;
            }
        }
    }
    .cards {
        display: flex;
        position: absolute;
        top: 3rem;
        right: 55%;
        .card1 {
            top: 0;
            position: absolute;
            z-index: 2;
            font-size: 0.6rem;
            .card-image {
                img {
                    height: 10rem;
                    width: 10rem;
                }
            }
        }
        .card2 {
            top: 0;
            z-index: 3;
            position: absolute;
            left: 11rem;
            font-size: 0.7rem;
        .card-image {
            img {
                height: 10rem;
                width: 10rem;
            }
        }
    }
        .card3 {
            top: 0;
            z-index: 4;
            position: absolute;
            left: 22rem;
            font-size: 0.7rem;
        .card-image {
            img {
                height: 10rem;
                width: 10rem;
            }
        }
    }

        .card4 {
            top: 0;
            z-index: 4;
            position: absolute;
            left: 33rem;
            font-size: 0.7rem;
        .card-image {
            img {
                height: 10rem;
                width: 10rem;
            }
        }
    }

    }
}